.section {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.section__title {
  margin: 0;
  max-width: 830px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
}

.section__quote {
  margin: 40px 0 0;
  max-width: 738px;
  font-size: 24px;
  line-height: 30px;
}

.section__author {
  margin: 10px 0 0;
  max-width: 738px;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}

.section__text {
  margin: 32px 0 0;
  max-width: 722px;
  font-size: 16px;
  line-height: 1.63;
}

@media (min-width: 768px) {
  .section {
    padding: 0 24px;
  }

  .section__title {
    font-size: 45px;
    line-height: 49px;
  }

  .section__quote {
    margin-top: 50px;
    line-height: 34px;
  }

  .section__author {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 0;
  }

  .section__title {
    font-size: 54px;
    line-height: 58px;
  }

  .section__quote {
    margin-top: 40px;
  }

  .section__author {
    margin-top: 10px;
  }
}
